<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/online_shop</property>
        <property name="connection.username">root</property>
        <property name="connection.password">MoltenCore</property>
        <property name="connection.pool_size">10</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="current_session_context_class">thread</property>

        <mapping class="model.models.database.entities.Characteristic"/>
        <mapping class="model.models.database.entities.CharacteristicValue"/>
        <mapping class="model.models.database.entities.Product"/>
        <mapping class="model.models.database.entities.User"/>
        <mapping class="model.models.database.entities.ProductPack"/>
    </session-factory>
</hibernate-configuration>